<%= form_for(@video_game) do |f| %>
    <% if @video_game.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@video_game.errors.count, "error") %> prohibited this video_game from being saved:</h2>

          <ul>
            <% @video_game.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="panel panel-default">
        <div class="panel-body ">
            <div class="form-group">
                <label for="name">Nom du jeu vidéo: </label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="actions">
                <%= f.submit %>
            </div>
        </div>
    </div>
<% end %>
