<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h2 class="text-center">Hello</h2>
				<br>
				<a class="btn btn-info" href="/videogames/add" ><span class="glyphicon glyphicon-plus"> Ajouter un jeu vidéo</span></a>
			</div>
		</div>
	</div>
</div>
